{% extends "base.html" %}

{% block content %}
<h3>Статистика взятий на вопросах {{author_name}}</h3>

Данная статистика не является полной и посчитана в развлекательных целях.

<link href="https://cdn.datatables.net/v/dt/dt-2.2.2/datatables.min.css" rel="stylesheet" integrity="sha384-2vMryTPZxTZDZ3GnMBDVQV8OtmoutdrfJxnDTg0bVam9mZhi7Zr3J1+lkVFRr71f" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script src="https://cdn.datatables.net/v/dt/dt-2.2.2/datatables.min.js" integrity="sha384-2Ul6oqy3mEjM7dBJzKOck1Qb/mzlO+k/0BQv3D3C7u+Ri9+7OBINGa24AeOv5rgu" crossorigin="anonymous"></script>


<table id="Fun" class="table table-striped">

{{table_to_insert}}

  
  <script>new DataTable('#Fun', {pageLength: 100, order: [[4, 'debsc']]});</script>
{% endblock %}