{% extends "base.html" %}

{% block content %}
  <table id="ratings" class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Фамилия, имя, отчество</th>
        <th>Рейтинг</th>
      </tr>
    </thead>
    <tbody>
      {% for rating in ratings %}
        <tr>
          <td>{{ rating.playerid }}</td>
          <td><a href="/player/{{ rating.playerid }}">{{ rating.fullname }}</a></td>
          <td>{{ rating.playerrating }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

{% endblock %}