{% extends "base.html" %}

{% block content %}
<link href="https://cdn.datatables.net/v/dt/dt-2.2.2/datatables.min.css" rel="stylesheet" integrity="sha384-2vMryTPZxTZDZ3GnMBDVQV8OtmoutdrfJxnDTg0bVam9mZhi7Zr3J1+lkVFRr71f" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script src="https://cdn.datatables.net/v/dt/dt-2.2.2/datatables.min.js" integrity="sha384-2Ul6oqy3mEjM7dBJzKOck1Qb/mzlO+k/0BQv3D3C7u+Ri9+7OBINGa24AeOv5rgu" crossorigin="anonymous"></script>



  <table id="Tournament" class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Название</th>
        <th>Оценка слжности</th>

        <th>Дата окончания</th>
      </tr>
    </thead>
    <tbody>
      {% for tours in toursinfo %}
        <tr>
          <td>{{ tours.tournamentid }}</td>
          <td><a href="/tournament/{{ tours.tournamentid }}">{{ tours.name }}</a></td>
          <td>{{"%.2f"|format(tours.hardnes)}}</td>
          <td>{{ tours.enddate }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>


  <script>new DataTable('#Tournament', {pageLength: 100, order: [[3, 'desc']]});</script>


{% endblock %}