{% extends "base.html" %}

{% block content %}
  <h2>{{playerid}} {{playername}}</h2>

  <table id="deltas" class="table table-striped">
    <thead>
      <tr>
        <th>Релиз</th>
        <th>Турнир</th>
        <th>Дельта</th>
      </tr>
    </thead>
    <tbody>
      {% for delta in deltas %}
        <tr>
            <td>{{ delta.releaseid }}</td>
            <td><a href="/tournament/{{ delta.tournamentid }}">{{ delta.name }}</a></td>
            <td>{{ delta.deltarating }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  История рейтинга
  <table id="ratings" class="table table-striped">
    <thead>
      <tr>
        <th>Релиз</th>
        <th>Рейтинг</th>
      </tr>
    </thead>
    <tbody>
      {% for rating in ratings %}
        <tr>
          <td>{{ rating.releaseid }}</td>
          <td>{{ rating.playerrating }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>


{% endblock %}