{% extends "base.html" %}

{% block content %}
<h2>Команда {{team_name}}</h2> 
{% if team_rating > 0 %}
<h3>Рейтинг: {{"%.2f"|format(team_rating)}}</h3>
<h4>Базовый состав:</h4>

{% for t in team_base_roster %}
{{"%.2f"|format(t.playerrating)}} <a href="/player/{{t.playerid}}"> {{t.fullname}} </a> <br>
{% endfor %}

{% endif %}


  <table id="Tournaments" class="table table-striped">
    <thead>
      <tr>
        <th rowspan="2">Турнир</th>
        <th rowspan="2">Место</th>
        <th rowspan="2">Сила команды</th>
        <th rowspan="2">Взято вопросов</th>
        <th rowspan="2">Прогноз по вопросам</th>
        <th rowspan="2">Дельта</th>
        <th colspan="2">Соответствие модели</th>
      </tr>
      <tr>
        <th>Не меньше</th>
        <th>Не больше</th>
      </tr>
    </thead>
    <script type='text/javascript'> function my_open(teamid, tournamentid) {window.open("/teams/"+teamid+"/"+tournamentid)}</script> 
    <script type='text/javascript'> function my_show(teamid, tournamentid) {fetch("/teams/"+teamid+"/"+tournamentid /*, options */)
      .then((response) => response.text())
      .then((html) => {
          document.getElementById("roster"+tournamentid).innerHTML = html;
      })
      }</script> 

    <tbody>
      {% for tourresult in tourresults %}
        <tr>
          <td><a href="/tournament/{{ tourresult.tournamentid }}"> {{ tourresult.name }}</a><div id="roster{{tourresult.tournamentid}}", onclick="my_show({{teamid}}, {{tourresult.tournamentid}})">(состав)</div></td>
          <td>{{ tourresult.place if tourresult.place is not none else "Нет данных"}}</td>
          <td>{{ "%.2f"|format(tourresult.teamrating) }} </td>
          <td>{{ tourresult.totalquestions if tourresult.totalquestions is not none else "Нет данных" }}</td>
          <td>{{ "%.2f"|format(tourresult.predictedquestions) }} <div id="predictedquestions{{tourresult.teamid}}"> <div onclick="all_my_show({{tourresult.teamid}}, {{tournamentid}})">(по турам)</div></div></td>
          <td>{{ "%.2f"|format(tourresult.totalquestions - tourresult.predictedquestions) if (tourresult.totalquestions is not none)and(tourresult.predictedquestions) }}</td>
          <td>{{ "{0:0.2f}%".format(tourresult.atleastprob*100) if (tourresult.atleastprob is not none)}} <div id="atleastprob{{tourresult.teamid}}"> <div onclick="all_my_show({{tourresult.teamid}}, {{tournamentid}})">(по турам)</div></div></td>
          <td>{{ "{0:0.2f}%".format(tourresult.atmostprob*100) if (tourresult.atmostprob is not none)}}<div id="atmostprob{{tourresult.teamid}}"> <div onclick="all_my_show({{tourresult.teamid}}, {{tournamentid}})">(по турам)</div></div></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

{% endblock %}