{% extends "base.html" %}

{% block content %}
  <table id="Tournaments" class="table table-striped">
    <thead>
      <tr>
        <th rowspan="2">Турнир</th>
        <th rowspan="2">Место</th>
        <th rowspan="2">Сила команды</th>
        <th rowspan="2">Взято вопросов</th>
        <th rowspan="2">Прогноз по вопросам</th>
        <th rowspan="2">Дельта</th>
        <th colspan="2">Соответствие модели</th>
      </tr>
      <tr>
        <th>Не меньше</th>
        <th>Не больше</th>
      </tr>
    </thead>
    <tbody>
      {% for tourresult in tourresults %}
        <tr>
          <td><a href="/tournament/{{ tourresult.tournamentid }}"> {{ tourresult.name }}</a></td>
          <td>{{ tourresult.place }}</td>
          <td>{{ tourresult.teamrating }}</td>
          <td>{{ tourresult.totalquestions }}</td>
          <td>{{ tourresult.predictedquestions }}</td>
          <td>{{ tourresult.totalquestions - tourresult.predictedquestions }}</td>
          <td>{{ tourresult.atleastprob }}</td>
          <td>{{ tourresult.atmostprob }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

{% endblock %}