{% extends "base.html" %}

{% block content %}
<script type='text/javascript'> function my_show(teamid, tournamentid) {fetch("/teams/"+teamid+"/"+tournamentid /*, options */)
  .then((response) => response.text())
  .then((html) => {
      document.getElementById("roster"+teamid).innerHTML = html;
  })
  }
  function all_my_show(teamid, tournamentid) {
  
  fetch("../legs_info/"+tournamentid+"/"+teamid+"?field=atmostprob")
  .then((response) => response.text())
  .then((html) => {
      document.getElementById("atmostprob"+teamid).innerHTML = html;
  })
  
  fetch("../legs_info/"+tournamentid+"/"+teamid+"?field=atleastprob")
  .then((response) => response.text())
  .then((html) => {
      document.getElementById("atleastprob"+teamid).innerHTML = html;
  })

  fetch("../legs_info/"+tournamentid+"/"+teamid+"?field=legquestions")
  .then((response) => response.text())
  .then((html) => {
      document.getElementById("legquestions"+teamid).innerHTML = html;
  })

  fetch("../legs_info/"+tournamentid+"/"+teamid+"?field=predictedquestions")
  .then((response) => response.text())
  .then((html) => {
      document.getElementById("predictedquestions"+teamid).innerHTML = html;
  })

}
  
  
  </script> 

  <h1>{{tournament_info["name"]}}</h1>
  <h4>Сроки проведения с {{tournament_info["startdate"]}} по {{tournament_info["enddate"]}}</h4>
  <h4>Оценка сложности турнира: {{"%.2f"|format(tournament_info["hardnes"])}}</h4>

  <table id="Tournament" class="table table-striped">
    <thead>
      <tr>
        <th rowspan="2">Место</th>
        <th rowspan="2">Команда</th>
        <th rowspan="2">Сила команды</th>
        <th rowspan="2">Показанная сила</th>
        <th rowspan="2">Взято вопросов</th>
        <th rowspan="2">Прогноз по вопросам</th>
        <th rowspan="2">Дельта</th>
        <th colspan="2">Соответствие модели</th>
      </tr>
      <tr>
        <th>Не меньше</th>
        <th>Не больше</th>
      </tr>
    </thead>
    <tbody>
      {% for tourresult in tourresults %}
        <tr id="{{tourresult.teamid}}">
          <td>{{ tourresult.place }}</td>
          <td><a href="/teams/{{ tourresult.teamid }}"> {{ tourresult.teamname }}</a><div id="roster{{tourresult.teamid}}"> <div onclick="my_show({{tourresult.teamid}}, {{tournamentid}})">(состав)</div></div></td>
          <td>{{ "%.2f"|format(tourresult.teamrating) }}</a></td>
          <td>{{ "%.2f"|format(tourresult.teamperformance) }}</a></td>
          <td>{{ tourresult.totalquestions }}<div id="legquestions{{tourresult.teamid}}"> <div onclick="all_my_show({{tourresult.teamid}}, {{tournamentid}})">(по турам)</div></div></td>
          <td>{{ "%.2f"|format(tourresult.predictedquestions) }} <div id="predictedquestions{{tourresult.teamid}}"> <div onclick="all_my_show({{tourresult.teamid}}, {{tournamentid}})">(по турам)</div></div></td>
          <td>{{ "%.2f"|format(tourresult.totalquestions - tourresult.predictedquestions) }}</td>
          <td>{{ "%.2f"|format(tourresult.atleastprob*100)}}% <div id="atleastprob{{tourresult.teamid}}"> <div onclick="all_my_show({{tourresult.teamid}}, {{tournamentid}})">(по турам)</div></div></td>
          <td>{{ "%.2f"|format(tourresult.atmostprob*100)}}% <div id="atmostprob{{tourresult.teamid}}"> <div onclick="all_my_show({{tourresult.teamid}}, {{tournamentid}})">(по турам)</div></div></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

{% endblock %}