{% extends "base.html" %}

{% block content %}
<script type='text/javascript'> function my_show(teamid, tournamentid) {fetch("/teams/"+teamid+"/"+tournamentid /*, options */)
  .then((response) => response.text())
  .then((html) => {
      document.getElementById("roster"+teamid).innerHTML = html;
  })
  }</script> 

  <table id="Tournament" class="table table-striped">
    <thead>
      <tr>
        <th rowspan="2">Место</th>
        <th rowspan="2">Команда</th>
        <th rowspan="2">Сила команды</th>
        <th rowspan="2">Взято вопросов</th>
        <th rowspan="2">Прогноз по вопросам</th>
        <th rowspan="2">Дельта</th>
        <th colspan="2">Соответствие модели</th>
      </tr>
      <tr>
        <th>Не меньше</th>
        <th>Не больше</th>
      </tr>
    </thead>
    <tbody>
      {% for tourresult in tourresults %}
        <tr>
          <td>{{ tourresult.place }}</td>
          <td><a href="/teams/{{ tourresult.teamid }}"> {{ tourresult.teamname }}</a><div id="roster{{tourresult.teamid}}", onclick="my_show({{tourresult.teamid}}, {{tournamentid}})">(состав)</div></td>
          <td>{{ "%.2f"|format(tourresult.teamrating) }}</a></td>
          <td>{{ tourresult.totalquestions }}</td>
          <td>{{ "%.2f"|format(tourresult.predictedquestions) }}</td>
          <td>{{ "%.2f"|format(tourresult.totalquestions - tourresult.predictedquestions) }}</td>
          <td>{{ "%.2f"|format(tourresult.atleastprob*100)}}%</td>
          <td>{{ "%.2f"|format(tourresult.atmostprob*100)}}%</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

{% endblock %}